@font-face {
  font-family: Oswald-Light;
  src: url("../fonts/Oswald/Oswald-Light.eot");
  src: url("../fonts/Oswald/Oswald-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/Oswald-Light.ttf") format("truetype"), url("../fonts/Oswald/Oswald-Light.svg#Oswald-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Oswald-Regular;
  src: url("../fonts/Oswald/Oswald-Regular.eot");
  src: url("../fonts/Oswald/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald/Oswald-Regular.svg#Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Light;
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Condensed-Bold;
  src: url("../fonts/OpenSansCondensed/OpenSans-CondBold.eot");
  src: url("../fonts/OpenSansCondensed/OpenSans-CondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed/OpenSans-CondBold.ttf") format("truetype"), url("../fonts/OpenSansCondensed/OpenSans-CondBold.svg#OpenSans-Condensed-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Condensed-Light;
  src: url("../fonts/OpenSansCondensed/OpenSans-CondLight.eot");
  src: url("../fonts/OpenSansCondensed/OpenSans-CondLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed/OpenSans-CondLight.ttf") format("truetype"), url("../fonts/OpenSansCondensed/OpenSans-CondLight.svg#OpenSans-Condensed-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans-Condensed-LightItalic;
  src: url("../fonts/OpenSansCondensed/OpenSans-CondLightItalic.eot");
  src: url("../fonts/OpenSansCondensed/OpenSans-CondLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed/OpenSans-CondLightItalic.ttf") format("truetype"), url("../fonts/OpenSansCondensed/OpenSans-CondLightItalic.svg#OpenSans-Condensed-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  list-style: none; }

html,
body {
  height: 100%; }

header {
  background-color: #e5e5e5;
  z-index: 20; }
  header .wrapper {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    header .wrapper a {
      display: inline-block;
      width: 60px;
      line-height: 60px;
      background-color: #333;
      color: #fff;
      text-align: center; }
    header .wrapper nav ul {
      display: inline-block;
      background-color: red; }
      header .wrapper nav ul li {
        display: inline-block;
        margin: 0 20px; }
      @media (min-width: 512px) and (max-width: 769px) {
        header .wrapper nav ul {
          display: none; } }
      @media (min-width: 0px) and (max-width: 513px) {
        header .wrapper nav ul {
          display: none; } }
    header .wrapper aside {
      background-color: #333; }
      header .wrapper aside ul li {
        display: inline-block;
        margin: 0 10px; }
      @media (min-width: 512px) and (max-width: 769px) {
        header .wrapper aside {
          display: none;
          position: absolute;
          right: 0;
          top: 63px;
          width: 100%;
          color: #cecece; }
          header .wrapper aside ul li {
            display: block;
            padding: 20px 10px; }
            header .wrapper aside ul li:not(:last-child) {
              border-bottom: 1px solid #cecece; } }
      @media (min-width: 0px) and (max-width: 513px) {
        header .wrapper aside {
          display: none;
          position: absolute;
          right: 0;
          top: 63px;
          width: 100%;
          color: #cecece; }
          header .wrapper aside ul li {
            display: block;
            padding: 20px 10px; }
            header .wrapper aside ul li:not(:last-child) {
              border-bottom: 1px solid #cecece; } }
    header .wrapper .menu {
      z-index: 10;
      display: inline;
      display: none;
      padding: 10px;
      border: 1px solid #666; }
      @media (min-width: 512px) and (max-width: 769px) {
        header .wrapper .menu {
          display: block; } }
      @media (min-width: 0px) and (max-width: 513px) {
        header .wrapper .menu {
          display: block; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      header .wrapper {
        width: 768px; } }
    @media (min-width: 512px) and (max-width: 769px) {
      header .wrapper {
        width: 100%;
        padding: 10px; } }
    @media (min-width: 0px) and (max-width: 513px) {
      header .wrapper {
        width: 100%;
        padding: 10px; } }

.hero {
  height: 620px;
  background: blue; }

/*# sourceMappingURL=main.css.map */
