header {
    .container {
        .row {
            line-height: 50px;
            nav {
                background-color: red;
            }
            aside {
                background-color: green;
            }
        }
    }
}
